.calculadora {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: 200px;
    flex-direction: column;

}

.titulo-calculadora {
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bolder;
    display: flex;
    align-items: center;
    font-size: 3rem;
    font-weight: bolder;
    justify-content: center;
}


.calculadora-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-direction: column;
}

.calculadora .row {
    width: 100%;
    margin: 50px 0;
}

.calculadora .paragrafo {
    margin-top: 20px;
    padding-bottom: 20px;
}

.calculadora .body-jogo {
    background-color: #424242;
    text-align: center;
    padding: 2.5rem;
    border-radius: 20px 1px 20px 1px;
    position: relative;
    cursor: pointer;

}

.calculadora .body-jogo:hover {
    background-color: #379ccf;

}

.calculadora .body-jogo.active {
    background-color: #379ccf;

}

.etap {
    font-size: 1rem;
    color: #fff;
    margin-bottom: 2rem;

    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.elos .etap,
.divisoes .etap {
    margin-bottom: 1rem;
}

.btn-elo {
    cursor: pointer;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.btn-elo {
    display: flex;
    flex-direction: column;

}

.icon-btn-elo {
    position: absolute;
    top: -10px;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -10px;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: -40px;
    border-radius: 50%;
    color: #424242b6;
    background: #7d99ab;
}


.btn-elo:hover {
    text-decoration: none;
    color: #fff;

}

.body-title-btn-elo {
    padding: 1rem;
    position: relative;
}

.btn-elo:hover .body-title-btn-elo {
    border: 1px solid rgba(255, 255, 255, 0.411);
    border-radius: 5px;

}

.titulo-btn-elo h4,
.titulo-btn-elo h5 {
    font-weight: bold;
    font-size: 1.5rem;
    color: #fff;

}

.titulo-btn-elo h5 {
    font-size: 1rem;
}

.icone-etap {
    min-height: 3rem;
    max-height: 3rem;
    min-width: 3rem;
    max-width: 3rem;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, .15);
    background-color: rgba(255, 255, 255, .05);
    margin-right: 1rem;
    font-size: 1.5rem;
    text-align: center;
    line-height: 3rem;
    color: #ade3ff;
}

.body-flags-linha {
    padding-left: 1rem;

}

.body-flags-linha::before {
    content: "";
    position: absolute;
    left: calc(1.5rem - -8px);
    width: 1px;
    height: calc(65% - 1rem);
    border-right: 2px dashed rgba(255, 255, 255, .2);
    top: 3.5rem;
}

.icone-etap i {
    font-size: 1.3rem;

    color: var(--azul-ecsuro);
}

.etap h5 {
    font-weight: bold;
}



.calculadora .body-jogo.lol::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/img/background/lol.svg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.3;
}


.calculadora .body-jogo.wd::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/img/background/wr.svg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.3;
}

.calculadora .body-jogo.vava::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/img/background/valorant.svg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.3;
}




.calculadora .body-jogo .subtitulo {
    text-transform: uppercase;
    margin: 0;

}

.flag {
    width: 100%;
    position: relative;
}





.flag-shadow[_ngcontent-serverApp-c27]:nth-of-type(1) {
    -webkit-animation-duration: 6s;
    animation-duration: 6s;
}

.flag-shadow[_ngcontent-serverApp-c27]:nth-of-type(2) {
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
}

.flag-shadow[_ngcontent-serverApp-c27]:nth-of-type(3),
.flag-shadow[_ngcontent-serverApp-c27]:nth-of-type(4) {
    -webkit-animation-duration: 7s;
    animation-duration: 7s;
}


.flag-shadow[_ngcontent-serverApp-c27]:nth-of-type(5) {
    -webkit-animation-duration: 9s;
    animation-duration: 9s;
}

.flag-shadow[_ngcontent-serverApp-c27] {
    -webkit-animation: 2s infinite test;
    animation: 2s infinite test;
    opacity: .15;
    width: 93.3%;
}

.title-etap {
    text-align: center;
    margin-bottom: 0;

    padding-bottom: 0 !important;
}

.title-etap.paragrafo {

    margin-top: 0;
}


.body-pedido {

    position: absolute;
    z-index: 3;
    height: 100%;
    top: 0;
    text-align: center;
    width: calc(100% - 64px);
    left: 32px;

}

.costumize {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.costumize-title.paragrafo {
    margin-top: 20px;
    padding-bottom: 0;

}

.costumize-title.paragrafo p {
    margin-bottom: 0;
}

.img-lane {
    height: 2rem;
    width: 2rem;
    text-align: center;
    position: relative;

}

.img-elo img {
    height: 10rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .75rem;
    -webkit-filter: drop-shadow(0 0 2px rgba(0, 0, 0, .75)) drop-shadow(0 0 10px rgba(255, 255, 255, .1));
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, .75)) drop-shadow(0 0 10px rgba(255, 255, 255, .1));
}

.img-lane img {
    height: 1.5rem;
    width: 1.5rem;

}

.img-lane::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-image: url(https://cdn.ggboost.com/images/purchase-position-background.png);
    width: 80px;
    height: 80px;
    background-size: 100% 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.custom-select {
    text-transform: uppercase;
    background-color: transparent;
    color: #fff;
    border: none;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 5px;
    cursor: pointer;

}

.custom-select:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.custom-select option {
    color: #424242;
}

.custom-select option:hover {
    box-shadow: 0 0 10px 100px #1882A8 inset;
}


.modal-title {
    font-weight: 400;
}

.modal-header {
    justify-content: center;
}

.modal-header,
.close {
    color: #fff;
}

.close {
    margin-left: 0;
    position: absolute;
    right: 20px;

}

.close:hover {
    color: #1882A8;
}

.img-escolhaClas {
    text-align: center;
}

.img-escolhaClas img {
    height: 10rem;
}

.title-escolha-clas {
    width: 130px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.479);
    margin: 3px;
}

.title-escolha-clas:hover {
    color: #fff;
    background-color: #379ccf;
}

.title-escolha-clas p {
    margin: 0;
}

.trim {
    position: absolute;
    bottom: 0;
    left: 5px;

}

.trim img {
    width: auto;
    background: linear-gradient(to bottom, #222f388f, #181c23);
    max-width: 300px;
}

.body_pedidos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.body-escolhas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body-escolhas .row {
    margin: 0;
}

.modal {
    overflow: hidden !important;
}

.modal-content {
    background-color: #282c33;
    color: var(--paragrafo);
}

.modal-body {

    height: auto;
}

.body-escolhaClas .row {
    margin: 0;
}

.carousel {
    width: 100%;
}

.detalhes_pedido {
    background-color: #282C33;
    width: 384px;
    height: auto;
    box-shadow: 2px 1px 15px 2px rgba(0, 0, 0, 0.164);
    border-radius: 5px;
    position: relative;
}
.detalhes_pedido.error::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color:#ff3f34;
    opacity: 0.5 ;
}

.erro-detalhes-pedido{
    display: none;
}
.detalhes_pedido.error .erro-detalhes-pedido{
  position: absolute;
  top: 0;
  left: 0;
  color: var(--paragrafo);
  width: 100%;
  height: 100%;
  font-size: 25px;
  display: flex;
  align-items: center; 
  justify-content: center;
  text-align: center;
  z-index: 10;
  padding: 1rem;
}

.erro-detalhes-pedido i{
    color: #fff;
    margin-bottom: 1rem;
    font-size: 70px;
}
.detalhes_pedido.error .body-pedido-principal, .detalhes_pedido.error .cabecalho{
   filter:blur(5px);
}

.carregamento-detalhes-pedido{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cabecalho {
    background-color: #12161b;
    height: 100px;
    padding: 1rem;
}

.body-pedido-cabecalho,
.body-pedido-cabecalho .row {
    width: 100%;
}

.body-pedido-cabecalho .row,
.body-pedido-principal .row {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem 0 1rem;
}


#valor-pedido-desconto {
    text-decoration: line-through;
    opacity: 0.8;
}

hr {
    background: var(--paragrafo);
    opacity: 0.4;
}

#valor-pedido,
.total-preco h3 {
    color: var(--azul-ecsuro);
}

.elos::before {
    content: "";
    position: absolute;
    left: calc(3rem - -8px);
    width: 1px;
    height: calc(50% - 1rem);
    border-right: 2px dashed rgba(255, 255, 255, .2);
    top: 4rem;
}

.detalhes {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5px;
}

.switch {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 20px;
    position: relative;
}

.blue-text {
    color: var(--azul-ecsuro);
    font-weight: bolder;
}

.switch .slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 30px;
    box-shadow: 0 0 0 2px #777, 0 0 4px #777;
    cursor: pointer;
    border: 4px solid transparent;
    overflow: hidden;
    transition: 0.4s;
}

.switch input {
    display: none;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    transition: all 0.3s;
    font-size: 0.9rem;

    padding: 0.5rem;
    width: 100%;
    height: 30px;
}

.escolha-elo-body input,.escolha-elo-body-atual input,
.divisoes-escolhas-body input,.divisoes-escolhas-body-atual input {

    display: none;
}

.switch .slider::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #777;
    border-radius: 30px;
    transform: translateX(-20px);
    transition: 0.4s;
}

.switch input:checked+.slider::before {
    transform: translateX(20px);
    background: var(--azul-ecsuro);
}

.switch input:checked+.slider {
    box-shadow: 0 0 0 2px var(--azul-ecsuro), 0 0 2px var(--azul-ecsuro);
}

.switch input:checked+.slide .cabecalho h4 {
    font-weight: bolder;
}

.gratis {
    text-transform: uppercase;
    color: var(--azul-ecsuro) !important;
}

 
.cabecalho small,
.body-pedido-principal p {
    color: var(--paragrafo);
}

.body-pedido-principal p,
.body-pedido-principal label {
    color: var(--paragrafo);
    margin: 5px;
}
.cabecalho h4{
    color: #fff;
}
.body-pedido-principal .row {
    margin: 0;
}
 
.escolha-elo-body,.escolha-elo-body-atual {
    background-color: #12161b;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    z-index: 2;
    margin: 5px;
    padding: 5px;
}

.divisoes-escolhas-body,.divisoes-escolhas-body-atual{
    background-color: #12161b;
    text-align: center;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    z-index: 2;
    margin: 5px;
    width: 45px;
    height: 45px;

}

.divisoes-escolhas-body h3,.divisoes-escolhas-body-atul h3 {
    font-size: 25px;
    margin: 0;
}


.divisoes {
    display: flex;
    flex-direction: column;
}

.divisoes-escolhas {
    display: flex;
    position: relative;
}

.escolha-elo-body.check,.escolha-elo-body-atual.check,
.divisoes-escolhas-body.check,.divisoes-escolhas-body-atual.check {
    background-color: var(--azul-ecsuro);
}

.escolha-elo-body:hover,.escolha-elo-body-atual:hover
.divisoes-escolhas-body:hover,.divisoes-escolhas-body-atual:hover {
    transform: translateY(-5px);
}

.escolhe-elo-ferro svg path {
    fill: #534a4c;
}

.escolhe-elo-bronze svg path {
    fill: #8c513a;
}

.escolhe-elo-prata svg path {
    fill: #80989d;
}

.escolhe-elo-ouro svg path {
    fill: #cd8837;
}

.escolhe-elo-platina svg path {
    fill: #4f9996;
}

.escolhe-elo-diamante svg path {
    fill: #5a6ecf;
}

.escolhe-elo-mestre svg path {
    fill: #9d48e0;
}

.escolhe-elo-graomestre svg path {
    fill: #cd4545;
}

.escolhe-elo-desafiante svg path {
    fill: #f3ca7c;
}

.escolhe-elo-esmeralda svg path {
    fill: #50C878;
}

.elos-img-escolha {
    width: 45px;
    height: 45px;
}

.escolhe-elo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.divisoes-escolhas.desabled .divisoes-escolhas-body {
    opacity: 0.5;
}

.divisoes-escolhas.desabled::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 23;
}

@keyframes test {
    0% {
        transform: translate(3.5%, -100%);
    }

    100% {
        transform: translate(3.5%, 100%);
    }
}