.comentarios-corpo {
    width: 100%;
    max-width: 100%;
    height: auto;
    position: relative;
    padding-bottom: 3rem;
}


.titulo-comentarios {
    color: #FFFFFF;
    font-weight: bolder;
    font-size: 1.5rem;
}

.react-3d-carousel .slider-container .slider-right div,
.react-3d-carousel .slider-container .slider-left div {
    border: none !important;
}

.react-3d-carousel {
    height: 538px !important;
}

.slider-single-content {
    border: none !important;
    box-shadow: none !important;

}

.react-3d-carousel .slider-container .slider-content .slider-single.active {

    filter: none;
}

.react-3d-carousel .slider-container .slider-content .slider-single {

    filter: blur(3px);
}




.divisao {
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
}

.comentarios-corpo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.bola-divisao {
    height: 10px;
    width: 10px;
    background: linear-gradient(var(--azul-ecsuro), var(--azul-claro));
    border-radius: 50%;
    margin-right: 5px;
}

.linha {
    height: 10px;
    width: 40px;
    background: linear-gradient(var(--azul-ecsuro), var(--azul-claro));
    border-radius: 15px;
}

.corpo-carousel {
    padding-top: 2rem;

}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;

}

.carousel-item.active {
    display: flex;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}

.carousel-inner {
    width: 66.66%;

}

.row.comentario-body {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 5rem;
    padding-top: 2rem;

}

.slider-left,
.slider-right {
    font-size: 25px;
}

.slider-left i:hover,
.slider-right i:hover {
    color: #55b2d5;
}

.contet-comentario {
    margin: 30px 0px 0px -160px;
    background-color: #282C33;
    border-radius: 16px 16px 16px 0px;
    padding: 2rem;
    box-shadow: 2px 1px 15px 2px rgba(0, 0, 0, 0.164);

}

.card-img {
    position: relative;
    z-index: 99;
    padding: 0px 0px 40px 0px;

}

.card-img img {
    border-radius: 16px;
    box-shadow: 2px 1px 15px 2px rgba(0, 0, 0, 0.295);

}

.card-img .img-fluid {

    max-width: 300px;

}

.subtitulo-comentario {
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: bolder;
    text-transform: uppercase;
    padding-bottom: 1rem;
    text-align: left;
}

.paragrafo {
    font-size: 1rem;
    color: var(--paragrafo);
}

.star {
    color: #ff9d01;
    letter-spacing: -2px;
}

.linha-emojis {
    height: 50%;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: end;
}

.emoji-star {
    font-size: 50px;
    color: var(--paragrafo);
}

.corpo-card-comentario {
    display: flex;
    justify-content: end;
}

.corpo-star {
    display: flex;
    align-items: center;
}

.carousel-indicators li {
    border-radius: 50%;
    height: 12px;
    width: 12px;
    background-color: var(--azul-ecsuro);
}

.carousel-control-next span,
.carousel-control-prev span {
    color: var(--azul-ecsuro);
}


@media (max-width:991px) {


    .card-img {

        padding-bottom: 0;

    }

    .contet-comentario {
        margin: 0;
        border-radius: 0 0 16px 16px;
    }

    .card-img img {
        border-radius: 16px 16px 0 0;
        width: 100%;
    }

    .img-fluid {

        max-width: 100%;
        height: auto;
    }

    .corpo-star,
    .corpo-emoji {
        width: auto !important;
    }

    .linha-emojis {
        height: auto;

    }

    .corpo-bottom {
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 1199px) and (min-width:992px) {

    .contet-comentario {
        margin: 30px 0px 0px -130px;

    }

}